<!-- Importamos el link de Bootstrap desde ruta definida en Servidor-->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<div>
    {{!-- Llamado al parcial Dashboard --}}
    {{> Dashboard}}
</div>


<!-- Importamos el script de Jquery desde ruta definida en Servidor-->
<script src="/jquery/jquery.js"></script>
<!-- Importamos el script de front desde ruta definida en Servidor-->
<script src="/front/script.js"></script>
<!-- Importamos el script de fontawesome por cdn -->
<script src="https://kit.fontawesome.com/8bcc232b0f.js" crossorigin="anonymous"></script>
<!-- Importamos el script de Bootstrap desde ruta definida en Servidor-->
<script src="/js/bootstrap.min.js"></script>
